<h1>Tabla de Empleados</h1>

<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form-group">
  <mat-grid-list cols="2" rowHeight="8:1" gutterSize="16px">
    <!-- Campo Nombre -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="first_name" required />
        <mat-error *ngIf="employeeForm.get('first_name')?.hasError('required')">El nombre es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Apellido -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="last_name" required />
        <mat-error *ngIf="employeeForm.get('last_name')?.hasError('required')">El apellido es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Email -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required />
        <mat-error *ngIf="employeeForm.get('email')?.hasError('required')">El email es obligatorio</mat-error>
        <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">Email inválido</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Celular -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Celular</mat-label>
        <input matInput formControlName="phone_number" required />
        <mat-error *ngIf="employeeForm.get('phone_number')?.hasError('required')">El número de celular es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Fecha de contrato -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>      
    </mat-grid-tile>

    <!-- Campo Job ID -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Job ID</mat-label>
        <input matInput formControlName="job_id" required />
        <mat-error *ngIf="employeeForm.get('job_id')?.hasError('required')">El job ID es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Salario -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Salario</mat-label>
        <input matInput formControlName="salary" required />
        <mat-error *ngIf="employeeForm.get('salary')?.hasError('required')">El salario es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo Porcentaje Comisión -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>Porcentaje Comisión</mat-label>
        <input matInput formControlName="commission_pct" required />
        <mat-error *ngIf="employeeForm.get('commission_pct')?.hasError('required')">El porcentaje de comisión es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo ID Manager -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>ID Manager</mat-label>
        <input matInput formControlName="manager_id" required />
        <mat-error *ngIf="employeeForm.get('manager_id')?.hasError('required')">El ID Manager es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>

    <!-- Campo ID Departamento -->
    <mat-grid-tile>
      <mat-form-field appearance="fill" class="w-100">
        <mat-label>ID Departamento</mat-label>
        <input matInput formControlName="department_id" required />
        <mat-error *ngIf="employeeForm.get('department_id')?.hasError('required')">El ID Departamento es obligatorio</mat-error>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- Botones de Acción -->
  <div class="d-flex justify-content-between mt-4">
    <button mat-raised-button color="primary" type="submit">{{ editMode ? 'Actualizar' : 'Agregar' }} Empleado</button>
    <button mat-button type="button" color="warn" (click)="resetFormulario()">Cancelar</button>
  </div>
</form>

<table mat-table [dataSource]="registros" class="mat-elevation-z8">

    <!-- Columna de ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.employee_id}} </td>
    </ng-container>
  
    <!-- Columna de Nombre -->
    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
    </ng-container>
  
    <!-- Columna de Apellido -->
    <ng-container matColumnDef="Apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
    </ng-container>
  
    <!-- Columna de Correo -->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="Celular">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let element"> {{element.phone_number}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Fecha de contrato">
        <th mat-header-cell *matHeaderCellDef> Fecha de contrato </th>
        <td mat-cell *matCellDef="let element"> {{element.hire_date}} </td>
    </ng-container>

    <ng-container matColumnDef="job_id">
        <th mat-header-cell *matHeaderCellDef> job_id </th>
        <td mat-cell *matCellDef="let element"> {{element.job_id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Salario">
        <th mat-header-cell *matHeaderCellDef> Salario </th>
        <td mat-cell *matCellDef="let element"> {{element.salary}} </td>
    </ng-container>

    <ng-container matColumnDef="Porcentaje comision">
        <th mat-header-cell *matHeaderCellDef> Porcentaje Comision </th>
        <td mat-cell *matCellDef="let element"> {{element.commission_pct}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Id manager">
        <th mat-header-cell *matHeaderCellDef> Id manager </th>
        <td mat-cell *matCellDef="let element"> {{element.manager_id}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Id departamento">
        <th mat-header-cell *matHeaderCellDef> Id departamento </th>
        <td mat-cell *matCellDef="let element"> {{element.department_id}} </td>
    </ng-container>

    <!-- Columna de Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="editarEmpleado(element)">Editar</button>
        <button mat-button color="warn" (click)="eliminarEmpleado(element.employee_id)">Eliminar</button>
      </td>
    </ng-container>
    
  
    <!-- Header y Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>